
/* =============================================( Header-Section-Start )=============================================  */

/* ================= MOBILE ================= */
@media (max-width: 992px) {

    .menu-btn {
        display: block;
        cursor: pointer;
        z-index: 1001;
    }

    .menu-toggle:checked+.menu-btn {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        box-shadow: -5px 0 20px rgba(0, 0, 0, 0.15);
        transition: 0.4s ease;
        z-index: 999;
    }

    .menu-toggle:checked~.navbar {
        right: 0;
    }

    .close-btn {
        display: flex;
        justify-content: flex-end;
        padding: 15px 20px;
        font-size: 26px;
        cursor: pointer;
    }

    .navbar li {
        border-bottom: 1px solid #eee;
    }

    .navbar a,
    .navbar span {
        padding: 15px 20px;
        display: block;
        font-size: 16px;
        cursor: pointer;
    }

    .dropdown-menu {
        display: none;
        position: static;
        box-shadow: none;
        padding-left: 20px;
        background: #f9f9f9;
    }

    .dropdown-toggle:checked+.dropdown-menu {
        display: block;
    }

    .right-icons {
        display: none;
    }

    .bttn {
        display: none;
    }

    .mobile-login {
        display: block;
        padding: 0 20px;
    }

    .mobile-login .btn {
        width: 100%;
        text-align: center;
    }

}

/* ================= DESKTOP ================= */
@media (min-width: 993px) {

    .menu-btn,
    .close-btn {
        display: none;
    }
}


/* =============================================( Header-Section-End )=============================================  */
